 
 textarea {
    color:blue;
	width:700px;
 }

 .td_content{
    width:700px;
	height:20px;
 }
 
 img.imgicon {
	padding:0; border:0;
	width:20px;height:20px;
 }
 
.td_span_remind{ 
	font-size:12px;
	color:#f00;
}

p.content {
    word-wrap: break-word;
	word-break: break-all;
}

div .timeup{
	color:red;
}

div .deleted_item{
	text-decoration:line-through;
	color:gray;
}
